<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575463968666-lmbh18oonr0t5dhc1n1ovdjjsa7624vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575463968666-lmbh18oonr0t5dhc1n1ovdjjsa7624vn</string>
	<key>API_KEY</key>
	<string>AIzaSyD6EW3j5OCpHigdYIONk230yimhn04dz2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>575463968666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eka.altunashvili.Moviez</string>
	<key>PROJECT_ID</key>
	<string>moviez-73523</string>
	<key>STORAGE_BUCKET</key>
	<string>moviez-73523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575463968666:ios:ff0b47550ae1606db23423</string>
</dict>
</plist>